body{
    margin: 0px;
}
.container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contant{
    width: 30%;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}